.modal-bridge { align-items: center; display: flex; flex-direction: column; }
.modal-bridge__icon { color: var(--dd-color-accent-main); height: 4.625rem; width: auto; }
.modal-bridge__title { font-size: 2rem; font-weight: 600; line-height: 2.5rem; padding: 1rem 0px; }
.modal-bridge__description { font-size: 1.25rem; font-weight: 400; line-height: 1.75rem; margin-bottom: 2.5rem; }
@media screen and (min-width: 768px) {
  .modal-bridge__description { font-size: 1rem; line-height: 1.5rem; }
}
.app-bridge[data-v-e88b456f] { display: flex; flex-direction: column; margin: 0px auto; width: 100%; }
@media screen and (min-width: 768px) {
  .app-bridge[data-v-e88b456f] { width: 31.5rem; }
}
.app-bridge__window[data-v-e88b456f] { background-color: var(--dd-color-background-main); transition-duration: 0.2s; transition-property: background-color; transition-timing-function: ease-in-out; width: 100%; }
@media screen and (min-width: 768px) {
  .app-bridge__window[data-v-e88b456f] { border-radius: 2rem; margin-bottom: 1rem; padding: 1.25rem; }
}
.app-bridge__window-content[data-v-e88b456f] { display: flex; flex-direction: column; padding: 1.5rem 0px; width: 100%; }
.app-bridge__window-content-separator[data-v-e88b456f] { background-color: var(--dd-color-background-additional); height: 1px; margin: 1.5rem 0px 1.5rem -1rem; position: relative; transition-duration: 0.2s; transition-property: background-color; transition-timing-function: ease-in-out; width: calc(100% + 2rem); }
.app-bridge__window-content-separator--no-gap[data-v-e88b456f] { margin: 0px 0px 0px -1rem; }
@media screen and (min-width: 768px) {
  .app-bridge__window-content-separator[data-v-e88b456f] { margin-left: -1.25rem; width: calc(100% + 2.5rem); }
}
.app-bridge__window-content-row[data-v-e88b456f] { display: grid; gap: 0.5rem; grid-template-columns: 1fr auto 1fr; margin-bottom: 1.75rem; }
.app-bridge__window-content-round-image[data-v-e88b456f] { background-color: var(--dd-color-stroke); border: 1px solid var(--dd-color-stroke); border-radius: 50%; height: 1.5rem; margin-left: 0.375rem; transition-duration: 0.2s; transition-property: border-color, background-color; transition-timing-function: ease-in-out; width: 1.5rem; }
.app-bridge__window-content-button-directions-icon[data-v-e88b456f] { height: 0.9375rem; transform: rotate(-90deg); width: auto; }
.app-bridge__window-content-asset-image-wrapper[data-v-e88b456f] { display: flex; flex-direction: row; }
.app-bridge__window-content-asset-image[data-v-e88b456f] { background-color: var(--dd-color-stroke); border: 1px solid var(--dd-color-stroke); border-radius: 50%; height: 1.5rem; position: relative; transition-duration: 0.2s; transition-property: border-color, background-color; transition-timing-function: ease-in-out; width: 1.5rem; z-index: 1; }
.app-bridge__window-content-asset-image[data-v-e88b456f]:nth-child(2) { margin-left: -0.5rem; z-index: 0; }
.app-bridge__window-content-asset-text[data-v-e88b456f] { padding: 0px 0.375rem; }
.app-bridge__window-content-asset-icon[data-v-e88b456f] { height: 1rem; margin-left: 0.125rem; width: auto; }
.app-bridge__window-meta[data-v-e88b456f] { display: grid; grid-template-columns: 1fr; gap: 0.5rem; padding-top: 1rem; }
@media screen and (min-width: 768px) {
  .app-bridge__window-meta[data-v-e88b456f] { padding-top: 1.875rem; }
}
.app-bridge__history[data-v-e88b456f] { margin-bottom: 1rem; }